*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  font-family: "Open Sans", serif;

}

header{
  height: 80px;
  text-align: left;
  margin-bottom: 20px;
  background-color: lightblue;
}

header h1{
  font-size: 24px;
}

nav{
  margin-bottom: 20px;
}

nav ul{
  list-style: none;
  display: flex;
  gap: 10px;
}

nav a{
  text-decoration: none;
  background-color: blue;
  border: 1 px solid gray;
  border-radius: 4px;
  padding: 10px;
}

.description{
  border: 1px solid gray;
  padding: 20px;
  border-radius: 4px;
  max-width: 600px;
}